<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.structure" >

    <!--intent-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--storage-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name=".StructureApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ApplicationNoTile" >

        <activity android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".person.PersonActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />

        <activity android:name=".test.LargeDataTransportActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogFullActivity"/>

        <activity android:name=".tab.SimpleTabActivity"/>

        <activity android:name=".scheme.SchemeSelectActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <data android:scheme="lucky"/>
                <action android:name="android.intent.action.VIEW"/>
                <!--隐藏启动-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".main.rx.RxActivity"/>

        <activity android:name=".welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/ActivityTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <!--umeng start-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="{channel}" />

        <meta-data android:name="TD_CHANNEL_ID"
                   android:value="{channel}"/>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="{channel}" />


    </application>

</manifest>
